@model IEnumerable<WareHouse.Models.Product>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <p class="h3" style="text-align:center;margin-top: 5px;color:red">QUẢN LÝ SẢN PHẨM</p>
        </div>
        <div class="col-md-12" style="margin-left: 20px">
                <a type="button" class="btn btn-success" href = "@Url.Action("AddProduct", "Product")">Thêm sản phẩm</a>
            </div> 
        <div class="card-body">
            <form method="get" asp-action="Index" class="mb-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã </th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn vị tính</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Hạng mục</th>
                        </tr>
                        <tr>
                            <th>...</th>
                            <th>
                                <input type="text" name="searchName" value="@ViewBag.SearchName" class="form-control" placeholder="Lọc theo tên..."/>
                            </th>
                            <th>...</th>
                            <th>...</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>SP @product.IdProduct</td>
                                <td>@product.NameProduct</td>
                                <td>@product.Unit</td>
                                <td>@(product.Price?.ToString() ?? "")</td>
                                <td>@product.remainingQuantity</td>
                                <td>@product.Categorys.NameCategory</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
    <script>
        $(function () {
            $("input[name='searchName']").autocomplete({
                source: '/Admin/Product/SearchProductNames',
                minLength: 1,
                select: function (event, ui) {
                    $(this).val(ui.item.value);
                    $(this).closest('form').submit();
                }
            }
        });
    </script>